#banner_slider {
	.banner {
		.half-container__box {
			&__title {
				font-size: 2.3rem;
			}

			&__text {
				font-size: 1.6rem;
			}
		}
	}
	.carousel-control-next,
	.carousel-control-prev {
		opacity: 0.75;
		top: 100px;

		&:hover {
			opacity: 1;
		}
	}

	.carousel-item {
		@include transition(opacity, 0s, 0.8s);

    	.half-container__content {
    		opacity: 0.9;
    		@include transition(opacity, 0.1s, 0.5s);

	    	
	    	.half-container__box {
	    		opacity: 0;
	    		@include transition(opacity, 0.2s, 0.3s);
	        }

	        .half-container__button {
	        	opacity: 0;
	        	@include transition(opacity, 0.4s, 0.6s);
	        }
    	}

    	.half-container__image {
    		opacity: 1;
    		@include transition(opacity, 0.1s, 0.95s);
    	}

    	&.active {
    		.half-container__content {
    			opacity: 1;
		    	
		    	.half-container__box {
		    		opacity: 1;
		        }

		        .half-container__button {
		        	opacity: 1;
		        }
	    	}

	    	.half-container__image {
	    		opacity: 1;
	    	}
    	}
	}

	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
	}
	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
	}
}