.title-font {
	font-size: $section-title-size;
	color: $primary-color;
}

.article-title-font {
	font-size: $article-title-size;
	color: $primary-color;
}

.article-text-font {
	font-size: $article-text-size;
	color: $elementary-color;
}