#contato_acelera {
  background: $bg-contact;
  @include flexbox(row, center, flex-start, nowrap);
  max-height: 895px;
  height: 650px;

  .imagem-contato {
    height: 100%;
    max-width: calc(100vw / 3);

    img {
      height: 100%;
      max-width: 100%;
    }
  }
  
  .form-contato {
    @include flexbox(column, center, flex-start, wrap);
    width: 100%;
    
    .contact-title {
      color: white;
      font-size: 2.5rem;
      margin-bottom: 25px;

      &::after {
        @include titleBorder();
      }
    }
    
    .contact-text {
      color: white;
      margin-bottom: 40px;
      font-size: 2rem;
      padding: 0 25px;
    }

    input,
    textarea {
      height: 40px;
      width: 100%;
      border: 0;
      padding: 0 0 0 8px;
    }

    textarea {
      height: 100px;
    }

    .campos-form {
      @include flexbox(row, center, space-evenly, wrap);
      width: 100%;

      label {
        @include flexbox(column, flex-start, flex-start, wrap);
        width: calc(100% /3);
        margin: 10px 10px 25px;
        font-size: 1.4rem;

        span {
          color: white;
          margin-bottom: 3px;
        }

        &:last-child {
          width: 79%;
        }
      }

    }

    .contact-form__button {
      border: 0;
      padding: 12px 20px;
      margin-top: 35px;
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    padding: 25px 0;
    
    .imagem-contato {
      display: none;
    }
  }
  
}