@import 'variables';

#jeito_acelera {
	background-color: $bg-secondary-color;

	.half-container {
		position: relative;
		height: auto;

		&__content {
			background-color: transparent;

			&.start {
				padding: 15px 0;
	
				&.right {
					padding-left: 75px;
				}

				&.left {
					padding-right: 75px;
				}
			}

			.half-container__box__title {
				color: $secondary-color;

				&::after {
					display: none;
				}
			}
		}

		&__image {
			flex-shrink: 0;
			width: calc(50vw + 1.6%);

			img {
				position: relative;
				width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&::before {
			content: '';
			width: 150px;
			position: absolute;
			top: 80px;
			height: 3px;
			background-color: $bg-primary-color;
			right: calc(50vw - 80px);
			z-index: 1;
		}

		&__box {
			padding: 40px 15px 20px;
		}
	} 
}