#jeito_acelera {
	background-color: $bg-secondary-color;

	> div:first-child {
		margin-bottom: 65px;
	}

	.half-container {
		position: relative;
		height: auto;

		&__content {
			background-color: transparent;

			&.start {

				&.right {
					padding-left: 55px;
				}

				&.left {
					padding-right: 55px;
				}
			}
			
			.half-container__box {
				padding: 0 15px 20px;
				margin-top: 65px;
				
				&__title {
					color: $secondary-color;
					font-size: 2.3rem;

					&::after {
						display: none;
					}
				}

				&__content {
					font-size: 1.6rem;
				}
			}

		}
		

		&__image {
			flex-shrink: 0;
			width: calc(50vw + 1.6%);

			img {
				position: relative;
				width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&::before {
			content: '';
			width: 150px;
			position: absolute;
			top: 80px;
			height: 3px;
			background-color: $bg-primary-color;
			right: calc(50vw - 80px);
			z-index: 1;
		}

	} 
}