@import 'variables';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $primary-font, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background-color: white;
    position: relative;
    font-size: 12px;
}

section {
    .title-font {
        font-size: $section-title-size;
        color: $primary-color;
    }
    .article-title-font {
        font-size: $article-title-size;
        color: $primary-color;
        position: relative;
    }
    .article-text-font {
        font-size: $article-text-size;
        color: $elementary-color;
    }
}

.title-font {
    font-size: $section-title-size;
    color: $primary-color;
}

.article-title-font {
    font-size: $article-title-size;
    color: $primary-color;
    position: relative;
}

.article-text-font {
    font-size: $article-text-size;
    color: $elementary-color;
}

.default-button {
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    background-color: white;
    width: auto;
    border: 2px solid $secondary-color;
    
    &--primary {
        font-size: 0.85rem;
        display: inline-block;
        @include leftToRightDegrade($secondary-color, $primary-color);
    }
    
    &--secondary {
        font-size: 2.3rem;
    }
}

#cases_sucesso,
#nossos_programas,
#nossos_parceiros,
#nossos_resultados {
    @include flexbox(column, center, flex-start, wrap);

    > div:first-child {
		margin-top: 25px;
		text-align: center;
		font-size: 1.6rem;
		position: relative;
		display: flex;
		align-items: center;
		font-size: $article-title-size;
    	color: $primary-color;
		
		&::after {
			@include titleBorder();
		}
	}
}

@import 'fonts-themes.scss';
@import 'vertical-box';
@import 'two-half-container';
@import 'menu';
@import 'banner';
@import 'quem-somos';
@import 'jeito-acelera';
@import 'nossos-programas';
@import 'nossos-parceiros';
@import 'depoimentos-acelera';
@import 'nossos-resultados';
@import 'form-contato';