@import 'variables';

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $primary-font, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background-color: white;
    position: relative;
    font-size: 12px;
}

section {
    .title-font {
        font-size: $section-title-size;
        color: $primary-color;
    }
    .article-title-font {
        font-size: $article-title-size;
        color: $primary-color;
        position: relative;
    }
    .article-text-font {
        font-size: $article-text-size;
        color: $elementary-color;
    }
}

.title-font {
    font-size: $section-title-size;
    color: $primary-color;
}

.article-title-font {
    font-size: $article-title-size;
    color: $primary-color;
    position: relative;
}

.article-text-font {
    font-size: $article-text-size;
    color: $elementary-color;
}

.default-button {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background-color: white;
    width: auto;
    min-width: 110px;
    border: 2px solid $secondary-color;
    text-align: center;
    color: #7c7c7c;

    &:hover {
        text-decoration: none;
        color: #464646;
    }
    
    &--primary {
        @include leftToRightDegrade($secondary-color, $primary-color);
        color: white;
        font-size: 2rem;
        font-family: $primary-font;
    }
    
    &--secondary {
        font-size: 2rem;
    }
}

#jeito_acelera,
#cases_sucesso,
#nossos_programas,
#nossos_parceiros,
#nossos_resultados {
    @include flexbox(column, center, flex-start, wrap);

    > div:first-child {
		margin-top: 25px;
		text-align: center;
		font-size: 1.6rem;
		position: relative;
		display: flex;
		align-items: center;
		font-size: $article-title-size;
    	color: $primary-color;
		
		&::after {
			@include titleBorder();
		}
	}
}

@import 'fonts-themes.scss';
@import 'vertical-box';
@import 'two-half-container';
@import 'menu';
@import 'banner';
@import 'quem-somos';
@import 'jeito-acelera';
@import 'nossos-programas';
@import 'nossos-parceiros';
@import 'depoimentos-acelera';
@import 'nossos-resultados';
@import 'form-contato';