.menu {
	background-color: $tertiary-color;
	width: 100%;
	position: relative;
	
	.menu-border {
		border: 2px solid transparent;
		border-image: linear-gradient(to right, $secondary-color 0%, $complementary-color 100%);
		border-image-slice: 10;
	}

	ul {
		list-style: none;
		@include flexbox(row, center, space-around, nowrap);
		height: 90px;
		margin: 0;

		li {
			&.logo {
				img {
					width: auto;
					max-height: 35px;
				}
			}

			&.menu-item {
				&:hover {
					background-color: #ffa115;
				}
			}

			a {
				color: white;
				text-decoration: none;
				font-style: italic;
				font-size: 1.5rem;
			}
		}
	}
}