.menu {
	background-color: $tertiary-color;
	width: 100%;
	position: relative;
	
	.menu-border {
		border-bottom: 2px solid transparent;
		border-image: linear-gradient(to right, $secondary-color 0%, $complementary-color 100%);
		border-image-slice: 10;
	    bottom: 0;
	    width: 100%;
	    left: 0;
	    right: 0;
	    position: absolute;
	}

	img.logo {
		width: auto;
		max-height: 35px;
	}

	ul {
		// list-style: none;
		// @include flexbox(row, center, space-around, nowrap);
		// height: 90px;
		// margin: 0;

		li {

			&.menu-item {
				&:hover {
					background-color: #ffa115;
				}
			}

			a {
				color: white;
				text-decoration: none;
				font-style: italic;
				font-size: 1.5rem;
			}
		}
	}
}