#nossos_parceiros {
	@include flexbox(column, center, flex-start, wrap);
	color: $elementary-color;

	.parceiros-acelera {
		margin-top: 25px;
		@include flexbox(row, normal, space-around, nowrap);

		.vertical-box {
			width: 20%;
			border: none;
			height: auto;

			&__image {
				height: 100px;
				width: 100%;
				background-color: $primary-color;
				@include flexbox(row, center, center, nowrap);

				img {
					width: 100%;
				}
			}

			&__content {
				padding: 10px 25px;
				@include flexbox(column, center, center, nowrap);
			}

			&__text {
				margin-bottom: 15px;
			}
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;

			.vertical-box {
				width: 100vw;
				margin: 5px 0;

				&__image {
					padding: 20px;
				}
			}
		}
	}
}