#nossos_programas {
	@include flexbox(column, center, flex-start, wrap);
	background-color: white;
	color: $elementary-color;

	> div:first-child {
		margin-bottom: 50px;
	}

	.programas-acelera {
		@include flexbox(row, normal, flex-start, wrap);

		.vertical-box {
			width: calc(100% / 3);
			padding-top: 15px;
			position: relative;
			height: auto;

			&:hover {
				border-image: linear-gradient(to right, $secondary-color 0%, $complementary-color 100%);
				border-image-slice: 10;
				top: -15px;
				
				.vertical-box__title {
					color: $secondary-color;
				}
			}

			&__title {
				font-size: 1.6rem;
			}

			&__image {
				text-align: center;

				img {
					width: 35%;
				}
			}

			&__content {
				text-align: center;
				padding: calc(100% / 12);
				font-size: 1.2rem;
			}
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;

			.vertical-box {
				width: 100vw;
				margin: 5px 0;
			}
		}

	}
}