#nossos_resultados {
  background-color: white;


  .resultados-acelera {
    margin: 25px 0;
    @include flexbox(row, center, space-evenly, wrap);

    img {
      max-width: calc(100vw / 6);
      margin: 20px 0;
    }

    @media screen and (max-width: 768px) { 
    	img {
		    max-width: calc(100vw / 3);
    		margin: 20px 5px;
    	}
    }
  }
}