$primary-color: #3d3b72;
$secondary-color: #c94106;
$tertiary-color: #282828;
$elementary-color: #717171;
$complementary-color: #002b7f;
$bg-primary-color: #e0e0e0;
$bg-secondary-color: #f5f5f5;
$border-gray: #e3e3e3;
$bg-contact: #252525;

$primary-font: 'Titillium Web';

$default-top-margin: 30px;
$default-section-margin: 30px;

// Font sizes
$section-title-size: 2.2rem;
$section-subtitle-size: 2rem;
$article-title-size: 1.8rem;
$article-text-size: 1.4rem;

// Extra small devices (portrait phones, less than 576px)
$smartphones-sm: "only screen and (max-width: 575px)";
// Small devices (landscape phones, 576px and up)
$smartphones: "only screen and (max-width: 767px)";
// Medium devices (tablets, 768px and up)
$tablets: "only screen and (min-width: 768px) and (max-width: 991px)";
// Large devices (desktops, 992px and up)
$desktops-sm: "only screen and (min-width: 992px) and (max-width: 1199px)";
// Extra large devices (large desktops, 1200px and up)
$desktops: "only screen and (min-width: 1200px)";

// Mixins
@mixin flexbox($direction: row, $align: center, $justify: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin border($borderWidth: 1px, $borderType: solid, $borderColor: white, $borderRadius: 0) {
    border: $borderWidth $borderType $borderColor;
    border-radius: $borderRadius;
}

@mixin titleBorder() {
    content: '';
    width: 60px;
    border: 1px solid $secondary-color;
    position: absolute;
    bottom: -5px;
    left: 0;
}

@mixin leftToRightDegrade($color1, $color2) {
 background-color: $color1; background-image: -webkit-gradient(linear, left top, right top, from($color1), to($color2));
 background-image: -webkit-linear-gradient(left, $color1, $color2);
 background-image: -moz-linear-gradient(left, $color1, $color2);
 background-image: -ms-linear-gradient(left, $color1, $color2);
 background-image: -o-linear-gradient(left, $color1, $color2);
 background-image: linear-gradient(to right, $color1, $color2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$color1, endColorstr=$color2);
}